nav
  .container
    .row
      .col.s12.m12
        .nav-wrapper
          a.brand-logo(href='/') Buzzin Directory
          a.button-collapse(href='#', data-activates='mobile-demo')
            i.material-icons menu
          ul#mobile-demo.side-nav
            li
              a(href='sass.html') Sass
            li
              a(href='badges.html') Components
            li
              a(href='collapsible.html') Javascript
            li
              a(href='mobile.html') Mobile

