header
  nav.nav-wrapper
    a.brand-logo(href='/') Buzzin Directory
    a.button-collapse(href='#', data-activates='mobile-nav')
      i.material-icons menu
  #mobile-nav.side-nav.fixed(style="width: 300px;")
    .sidebar.mt-24
      a.logo(href='/')
        img(src='/img/logo.png')
      #clear-all
      h5.red-text Categories
      #categories
      h5.red-text Filtered By:
      #city
      #zipcode

