#cd-nav
  a.cd-nav-trigger(href='#0') Menu
    span
  #cd-main-nav
    ul
      li
        a(href='#0') Homepage
      li
        a(href='#0') Services
      li
        a(href='#0') Portfolio
      li
        a(href='#0') Pricing
      li
        a(href='#0') Contact
