extends layout

block site_title
  = "Buzzin Directory | " + item.title

block content
  .single-page
    .container
      .row.mt-32
        .col.l7.mb-24
          .list-banner.mb-32
            img.lazy(src="/img/ajax-loader.gif", data-src= item.banner)
        .col.l5
          .list-title
            h1= item.title
          .list-postbody
            != item.postbody