extends layout

block content
  .container
    .row
      .col.l12
        .row.mt-56
          .clearFx
          .featured-listing.listing
            each featured in listing(records.featuredlist.pages)
              if featured.type == "featured"
                .featured-list.col.xs12.s6.m4.l3.mb-16
                  .list
                    .list-thumbnail
                      a.details(href="http://" + featured.web, target="_blank")
                        img.lazy(src="/img/ajax-loader.svg", data-src= featured.image)
                      .blurb
                        p.type= featured.type
                    .list-title
                      a.list-link(href="http://" + featured.web, target="_blank")= featured.title
                      .short-desc
                        p= postExcerpt(featured.shortdesc, 100)

        .row.mt-32
          .clearFx
            .col.l12
              h1.title <span class="red-text">Business</span> Listings
          .clearFx
          .listing
            - var i = 0;
            - var e = 0;
            each list in sorting(records.freelisting.pages)
              if list.type == "free"
                .lists.col.xs12.s6.m4.l3.mb-16
                  .list
                    .list-thumbnail
                      a.details(href= "/list/" + slugifyText(list.title))
                        img.lazy(src="/img/ajax-loader.svg", data-src= list.image)
                      .blurb
                        p.type= list.type
                    .list-title
                      a.list-link(href= "/list/" + slugifyText(list.title))= list.title

                    //- .blurb
                    //-   p= list.shortdesc

