@import '_settings'

normalize-css()
base()


body
  font 14px/1.6 'Roboto', sans-serif
  font-weight 400

h1, h2 ,h3 ,h4, h5
  font-family 'Roboto', sans-serif

h1
  font-weight 100
  text-transform uppercase

.container
  width 100%
  .row
    margin-left 0
    margin-right 0

nav
  background  #CB356B  /* fallback for old browsers */
  background  -webkit-linear-gradient(to right, #BD3F32, #CB356B)  /* Chrome 10-25, Safari 5.1-6 */
  background  linear-gradient(to right, #BD3F32, #CB356B) /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  .brand-logo
    font-family 'Roboto', sans-serif
    font-size 1.25em

.clearFx
  clear both
  position relative

.mt-16
  margin-top 16px
.mt-24
  margin-top 24px
.mt-32
  margin-top 32px
.mt-48
  margin-top 48px
.mt-52
  margin-top 52px

.mb-16
  margin-bottom 16px
.mb-24
  margin-bottom 24px
.mb-32
  margin-bottom 32px
.mb-48
  margin-bottom 48px
.mb-52
  margin-bottom 52px

h1
  font-size 3em

img
  max-width 100%

#cd-main-nav
  ul
    li
      display block
      width 100%
      line-height normal
      a
        color #222

.listing
  .list
    box-shadow 4px 5px 5px #f4f4f4
    -webkit-box-shadow 4px 5px 5px #f4f4f4
    transition 400ms ease
    -webkit-transition  400ms ease
    .list-thumbnail
      overflow hidden
      img
        -webkit-transition -webkit-transform 200ms ease-in-out
        transition -webkit-transform 200ms ease-in-out
        transition transform 200ms ease-in-out
        -webkit-transition -webkit-transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out
        transition transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out
    &.list:hover
      box-shadow 4px 10px 10px #eee
      -webkit-box-shadow 4px 10px 10px #eee
      img
        -webkit-transform: scale(1.07)
        transform: scale(1.07)
    .list-title
      padding 10px
      a
        color #bd3f32
        text-transform uppercase
      .blurb
        color #607D8B
        font-size 13px

.ais-hits--item
  padding  0 .75rem
  margin-bottom  16px
  width 250px
  .hit
    box-shadow  4px 5px 5px #f4f4f4
    -webkit-box-shadow  4px 5px 5px #f4f4f4
    transition  400ms ease
    -webkit-transition  400ms ease


.modal
  .modal-content
    position relative
    padding 0px
    .loader
      width 36px
      position absolute
      left 0
      right 0px
      top 40%
      margin:auto;
    .row
      margin-bottom 0px
      .l6
        padding-top 16px
        padding-bottom 16px
        position relative
        &:first-child
          padding 0px

